!/tmp/.keep
.byebug_history
.env
.powenv
.rspec
.rvmrc
*.bowerrc
*.log
*.rbc
**.orig
/.bundle
/config/application.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/public/system
/spec/tmp
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
bower.json
capybara-*.html
nginx.conf
pickle-email-*.html
rerun.txt
.app.env
