<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <%= form_tag(careers_path, method: "get", class: 'search_field') do %>
    <div class="input-group input-group-lg">
      <%= text_field_tag :battle_tag, nil, class: 'form-control input-lg', autofocus: true, placeholder: 'Battle Tag: Name#Number (example: Jimmi#2787)', required: true,  onkeyup: 'showResult(this.value)', autocomplete: 'off' %>
      <span class="input-group-btn">
        <%= button_tag "Search", class: 'btn btn-default btn-lg' %>
      </span>
    </div>
    <% end %>
    <%= render 'search' %>

  </div>
  <div class="col-lg-6">

  </div>
</div>
